* {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto';
  box-sizing: border-box;
}


/* ------------------------------------------------------------------NAV--------------------------------------------------------- */
.navbar {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  width: 74%;
  padding-top: 20px;
  padding-left: 23px;
  padding-bottom: 10px;
}

.logo {
  padding-bottom: 5px;
  display: flex;
  justify-content: space-around;
  width: 67%;

}

.logo img {
  width: 81%;
  height: 35px;
}

.return i {
  font-size: 20px;
}

/* ------------------------------------------------------HEADER----------------------------------------------------------- */
.menuTitle {
  background-image: url(../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
  height: 275px;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-repeat: no-repeat;
  align-items: end;
  background-size: cover;
  background-position: center;

}

.headline h1 {
  padding-top: 32px;
  padding-left: 17px;
  font-family: Shrikhand;
  font-size: 28px;
  font-weight: 500;
  white-space: nowrap;
}

.menuCard {
  background-color: #F6F6F6;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  width: 100%;
  position: relative;
  top: -57px;
}

.headline {
  display: flex;
  justify-content: center;
  width: 95%;
  align-items: baseline;
}

.heartIcon {
  position: relative;
  font-size: 27px;
  padding-left: 24px;
}
.purpleHeart {
  position: absolute;
  background: -webkit-linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  background-clip: inherit;
  -webkit-background-clip: text;
  color: transparent;
  transform: scale(0);
  transition: 0.3s ease-in;
  top: 0px;
}

.whiteHeart {
  transform: scale(1);
  transition: 3s ease-out;
}

.whiteHeart:hover {
  transform: scale(0);
  transition: 3s;
}

.whiteHeart:hover+.purpleHeart {
  transform: scale(1);
  transition: 1s ease-in;
}

.firstMenu {
  padding-top: 42px;
  padding-left: 14px;
  margin-top: -2px;
  padding-bottom: 12px;
  font-size: 16px;
  text-transform: uppercase;
}

.firstMenu p {
  border-bottom: 4px solid #99E2D0;
  width: 40px;
  padding-bottom: 5px;
}

.foodPrice {
  position: relative;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  background-color: #FFFFFF;
  padding: 20px;
  border-radius: 20px;
  margin: 7px 13px;
  opacity: 0;
}

.foodPrice.first {
  animation: fade-in-scroll ease-in 2s forwards;
}

.foodPrice.second {
  animation: fade-in-scroll2 ease 5s forwards;
}

.foodPrice.third {
  animation: fade-in-scroll2 6s forwards;
}

@keyframes fade-in-scroll {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in-scroll2 {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.price {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 5px;
  width: 100%;
  transition: 0.1s ease-out;
}

.cost {
  white-space: nowrap;
}

.price p {
  font-size: 15px;
}

.price span {
  font-weight: bold;
}

.listOfMenus {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.check {
  width: 10%;
  box-sizing: border-box;
  overflow: hidden;
  background-color: #99E2D0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  position: absolute;
  right: 0px;
  top: -1px;
  transform: scaleX(0);
  transition: 0.3s ease-out;
  transform-origin: right;

}

.check span {
  padding: 32px 10px;
  border-radius: 100px;
  display: inline-block;
  display: flex;
  justify-content: center;
}

.check span i {
  padding: 5px;
  background-color: white;
  border-radius: 50%;
  color: #99E2D0;
}

.foodPrice:hover .check {
  transform: scaleX(1);
  transition: 0.3s ease-in;
  margin: 0 -10px;
}

.foodPrice:hover .price {
  width: 90%;
  transition: 0.3s ease-in;
}

.foodPrice:hover .foodTitle h3,
.foodPrice:hover .foodTitle p {
  transform: scale(1.05);
  transition: 0.3s ease-in;
}


.foodTitle h3,
.foodTitle p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.container {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-bottom: -57px;
}

.btn {
  color: white;
  padding: 16px 49px;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  border: none;
  box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
  transition: 0.5s ease-in;
}

.btn span {
  font-size: 16px;
}

.btn:hover {
  opacity: 0.5;
  transform: scale(1.05);
}

.contactList h3 {
  font-family: 'Shrikhand';
  font-style: italic;
  font-size: 30px;
  padding-left: 40px;
  padding-bottom: 16px;
  color: #FFFFFF;
  font-weight: 900;
}

.contactList h3 {
  font-family: 'Shrikhand';
  font-style: italic;
  color: #FFFFFF;
  font-weight: 900;
}

.contact {
  width: 100%;
  background: #353535;
  padding-top: 20px;
}

.list {
  padding-bottom: 15px;
  font-size: 16px;
  padding-right: 10px;
}

.list a {
  text-decoration: none;
  color: white;
}

.contactList .lists {
  color: white;
}

.list span i {
  padding: 0 7px;
}

.iconLists {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 8px;
  padding-left: 25px;
}


.contactList {
  position: relative;
  z-index: 1;
}


.contactList img {
  padding-left: 25px;
}

@media (min-width:768px) and (max-width:1025px) {
  .navbar {
    padding-bottom: 25px;
    padding-top: 25px;
  }

  .logo {
    display: flex;
    justify-content: space-around;
    width: 65%;
  }

  .logo img {
    width: 57%;
    height: 39px;
  }

  .menuTitle {
    height: 399px;
  }

  .return i {
    font-size: 26px;
  }

  .heartIcon {
    font-size: 27px;
  }

  .menuTitle h1 {
    font-size: 35px;
  }

  .firstMenu {
    font-size: 20px;
  }


  .price {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    width: 100%;
    flex-wrap: nowrap;

  }

  .check span {
    padding: 33px 10px;
  }

  .foodTitle {
    font-size: 18px;
  }

  .price p {
    font-size: 19px;
  }

  .foodPrice {
    padding: 20px 30px;
  }

  .menuCard {
    top: -40px;
    padding: 40px;
  }

  .menuContainer {
    padding: 0px 50px;
    display: flex;
    justify-content: center;
    margin-bottom: -39px;
  }

  .menu {
    display: flex;
    justify-content: center;
  }

  .headline {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .heartIcon {
    padding-left: 24px;
  }

  .container {
    margin-bottom: 0px;
    padding-bottom: 0px;
  }

  .iconLists {
    display: flex;
    flex-direction: row;
    justify-content: end;
  }

  .contactList .lists {
    color: white;
    display: flex;
    flex-direction: row;
  }

  .contactList {
    display: flex;
    flex-direction: row-reverse;
    padding-bottom: 30px;
    justify-content: space-evenly;
  }

  .list {
    padding-bottom: 1px;
  }

  .contact {
    padding-top: 28px;
  }

  .iconLists {
    padding-bottom: 0px;
  }

  .contactList img {
    padding-left: 0px;
  }

  .group-list {
    display: flex;
    flex-direction: row;    
    padding-right: 15px;
  }

}

@media (min-width:1025px) {
  .navbar {
    padding-bottom: 25px;
    padding-top: 25px;
  }

  .logo {
    display: flex;
    justify-content: space-around;
    width: 65%;
  }

  .logo img {
    width: 44%;
    height: 45px;
  }

  .menuTitle {
    height: 400px;
  }

  .return i {
    font-size: 26px;
  }

  .heartIcon {
    font-size: 27px;
  }

  .menuTitle h1 {
    font-size: 35px;
  }

  .firstMenu {
    font-size: 20px;
  }

  .price {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    width: 100%;
    flex-wrap: nowrap;

  }

  .check span {
    padding: 33px 10px;
  }

  .foodTitle {
    font-size: 18px;
  }

  .price p {
    font-size: 18px;
  }

  .foodPrice {
    padding: 20px 30px;
  }

  .menuCard {
    top: -42px;
    padding: 40px 100px;
  }

  .menuContainer {
    padding: 0px 193px;
    display: flex;
    justify-content: center;
    margin-bottom: -41px;
  }

  .menu {
    display: flex;
    justify-content: center;
  }

  .headline {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .heartIcon {
    padding-left: 24px;
  }

  .container {
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  .iconLists {
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding-bottom: 0px;
    width: 100%;
    padding-left: 0px
  }

  .contact {
    width: 100%;
    background: #353535;
    padding-top: 0px;
  }

  .list {
    padding-bottom: 0px;
    padding-right: 17px;
  }

  .contactList {
    display: flex;
    flex-direction: row-reverse;
    width: 96%;
    justify-content: space-around;
    padding-top: 28px;
    padding-bottom: 31px;
    padding-right: 35px;
  }

  .contactList .lists {
    color: white;
    display: flex;
    justify-content: end;

    width: 100%;
  }

  .contactList img {
    padding-left: 30px;
  }

  .group-list {
    display: flex;
    flex-direction: row;
    padding-right: 40px;
  }
}